<%- include('partials/head')%>

<link href="https://cdn.reflowhq.com/v1/toolkit.min.css" rel="stylesheet" />

<%- include('partials/navbar')%>


<div class="page-background">
    <div class="container page" id="page">
        <a href="/store">Back to store</a>
        <br><br>
        <div data-reflow-type="shopping-cart"></div>
    </div>
</div>

<script src="https://cdn.reflowhq.com/v1/toolkit.min.js" data-reflow-store="1316370211" defer></script>

<%- include('partials/footer')%>