<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div id="home-page-background">
    <div class="container">
        <div class="container row">
            <div class="col fancy">
                <h1>FABCC</h1>
                <h3>Flesh and Blood - Classic Constructed</h3>
                <br>
                <a href="#" id="get-started-btn" class="btn btn-lg btn-primary fab-btn">Get started</a>
            </div>
            <div class="col">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nobis labore recusandae modi omnis dolore iste, dolor animi ipsa voluptatum, vel nostrum laborum amet excepturi facilis similique a, velit reprehenderit.</h3>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer')%>